/* Autor: Torsten Kockler
 * 2024 */

html {
  background-color:#141B1B;
  color:#DDE4E4;
  font-family: Verdana,Arial,sans-serif;
  font-size:0.8em;
}

.workout-item {
  border-radius: 25px;
  padding: 20px;
  background-color:#1F2D2E;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  display: flex;
}

.left {
  flex: 1;
  text-align: left;
}

.right {
  flex: 1;
  text-align: right;
}

#workout {
  font-size: 2em;
}

#workouts {
  font-size: 1.25em;
}

#workout-name {
  background-color:#1B2626;
  margin: 1em;
}

button {
  width: 1em; /* Breite des Buttons in em */
  height: 1em; /* Höhe des Buttons in em */
  border-radius: 50%; /* Rundung des Buttons für einen Kreis */
  background-color: #DDE4E4; /* Hintergrundfarbe */
  border: none;
  text-align: center; /* Zentrieren des Textes */
  line-height: 0.75em; /* Vertikale Zentrierung des Textes */
  font-size: 2em;
}
